<span class="{{'flag-icon flag-icon-'+flagicon}}"></span>
<select class="selectpicker" data-width="fit" [ngModel]="selectedValue" (ngModelChange)="onLanguageChanged($event)">
  <ng-container *ngFor="let lang of availableLangs">
    <option [ngValue]="lang">
      {{ 'LANGUAGE_LABEL_' + lang | uppercase | translate }}
    </option>
  </ng-container>
</select>