<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <table class="table table-dark">
      <thead>
        <tr>
          <th scope="col">Madera</th>
          <th scope="col">Piedra</th>
          <th scope="col">Hierro</th>
          <th scope="col">Oro</th>
          <th scope="col">Personas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>100</td>
          <td>50</td>
          <td>25</td>
          <td>100</td>
          <td>10</td>
        </tr>
      </tbody>
    </table>
  </div>
</nav>