<nav class="nav nav-pills nav-justified-left flex-column">
  <a class="nav-item nav-link active" href="#">Resumen</a>
  <a class="nav-item nav-link" href="#">Recursos</a>
  <a class="nav-item nav-link" href="#">Edificios</a>
  <a class="nav-item nav-link" href="#">Investigación</a>
  <a class="nav-item nav-link" href="#">Ejercito</a>
</nav>