<div class="container-fluid no-padding">
  <div class="row">
    <div class="col-sm-12 align-self-start">
      <app-game-resources></app-game-resources>
    </div>
  </div>
  <div class="row d-flex">
    <div class="col-sm-2 align-self-start">
      <app-game-menu></app-game-menu>
    </div>
    <div class="col-xl-10">
      <app-game-summary></app-game-summary>
    </div>
  </div>
</div>
